body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 0px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-family:serif;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ca1818;
    border-radius: 8px;
}

.login-container button {
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: serif;
}

.login-container button:hover {
    background-color: #146314e4;
}
